.App {
  text-align: center;
  padding: 20px;
  height: 100vh; /* Make the app take the full height of the viewport */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  background: #F8EDEB;
}

/* Lora Font Class */
.lora-font {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400; /* Default weight */
  font-style: normal;
}

/* Example of a bold variant */
.lora-font-bold {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 700; /* Bold weight */
  font-style: normal;
}

.buttons {
  display: flex;
  gap: 20px; /* Space between buttons */
}

button {
  width: 150px; /* Fixed width for buttons */
  height: 150px; /* Fixed height for buttons */
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #FEC89A;
  color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

button:hover {
  background-color: #FCD2AF;
}

.content {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.general-window, .memory-window {
  text-align: left;
}

h2 {
  margin-bottom: 10px;
}

p {
  font-size: 18px;
}