:root {
    --background-color: #F8EDEB;
    --primary-color: #FF9A9E;
    --primary-hover-color: #F78F94;
    --secondary-color: #2B9985;
    --secondary-hover-color: #1A9972;
    --text-color: #3e3e3e;
    --correct-color: #6B8E85;
    --incorrect-color: #d16d6d;
    --button-shadow: 2px 2px 5px rgba(46, 46, 46, 0.3);
    --font-lora: "Lora", serif;
    --font-inter: "Inter", sans-serif;
}

.general-window {
    text-align: center;
    padding: 20px;
    background: var(--background-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.back-button {
    background-color: #2e2e2e;
    width: 50px;
    height: 50px;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-family: var(--font-inter);
    font-weight: 700;
    box-shadow: var(--button-shadow);
}

.back-button:hover {
    background-color: #3e3e3e;
    transform: translateY(-2px);
}

.lora-font-title {
    color: var(--text-color);
    font-family: var(--font-lora);
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 0px;
}

.question-container {
    color: var(--text-color);
    margin-top: 20px;
    font-family: var(--font-lora);
    font-weight: 600;
    max-width: 800px;
    width: 100%;
}

.options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.option-button {
    background-color: var(--primary-color);
    border: none;
    padding: 15px 25px;
    cursor: pointer;
    border-radius: 8px;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    min-width: 150px;
    font-family: var(--font-lora);
    font-weight: 600;
    box-shadow: var(--button-shadow);
    color: white;
}

.option-button:hover {
    background-color: var(--primary-hover-color);
    transform: translateY(-2px);
}

.option-button.correct {
    background-color: var(--correct-color) !important;
    color: white;
}

.option-button.incorrect {
    background-color: var(--incorrect-color) !important;
    color: white;
}

.correct-message {
    color: var(--correct-color);
    font-weight: 700;
    margin-top: 20px;
    font-size: 1.1rem;
}

.incorrect-message {
    color: var(--incorrect-color);
    font-weight: 700;
    margin-top: 20px;
    font-size: 1.1rem;
}

.elo-rating {
    color: var(--text-color);
    font-family: var(--font-lora);
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: -10px;
    font-size: 1.2rem;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.next-button,
.explanation-button {
    padding: 12px 30px;
    width: 200px;
    height: 50px;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-family: var(--font-lora);
    font-weight: 700;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: var(--button-shadow);
}

.next-button {
    background-color: var(--primary-color);
}

.next-button:hover {
    background-color: var(--primary-hover-color);
    transform: translateY(-2px);
}

.explanation-button {
    background-color: var(--secondary-color);
}

.explanation-button:hover {
    background-color: var(--secondary-hover-color);
    transform: translateY(-2px);
}

.explanation-text {
    color: var(--text-color);
    font-family: var(--font-lora);
    font-weight: 500;
    margin-top: 10px;
    text-align: left;
    padding: 15px;
    background-color: var(--background-color);
    border-radius: 8px;
    box-shadow: var(--button-shadow);
}

.start-button-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

.start-button {
    padding: 12px 30px;
    width: 200px;
    height: 50px;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-family: var(--font-lora);
    font-weight: 700;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: var(--button-shadow);
    background-color: var(--primary-color);
}

.start-button:hover {
    background-color: var(--primary-hover-color);
    transform: translateY(-2px);
}

.topic-selection {
    margin-bottom: 30px;
}

.topic-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.topic-button {
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-family: var(--font-lora);
    font-weight: 600;
    box-shadow: var(--button-shadow);
}

.topic-button.selected {
    background-color: #F79F94;
}
.topic-button.selected:hover {
    background-color: #F99F99;
}

.topic-button:hover {
    background-color: var(--primary-hover-color);
    transform: translateY(-2px);
}